.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.countryCard {
  border: 1px solid black;
  height: 300px;
  width: 200px;
}

.imageDiv {
  overflow: hidden;
}

.image {
  height: 100px;
}

.searchBar {
  margin-bottom: 20px;
}
